:root {
    --darkMain: rgb(10, 10, 10);
    --darkModeText: #bebebe;
    --darkGray: rgb(53, 53, 53);
    --darkBorder: transparent;
    --darkBorder: #ffff00;

    --white: #FFF;
    --black: #000;
    --bluePrimary: #3580dc;

    --bodyBrightBG: #E9F1FA;
    --brightBlue: #00ABE4;
}